# frontend
NEXT_PUBLIC_API_URL="http://localhost:3000"

# backend
# next-auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="local"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# postgres
POSTGRES_URL="postgresql://local:local@localhost:5432/local?schema=public"
POSTGRES_USER="local"
POSTGRES_PASSWORD="local"
POSTGRES_DB="local"
POSTGRES_PORT="5432"

# pgadmin
PGADMIN_DEFAULT_EMAIL="local@gmail.com"
PGADMIN_DEFAULT_PASSWORD="local"
PGADMIN_DEFAULT_PORT="8081"